node_modules
# production
.next
out

# misc
.DS_Store
.env*
*.local

# typescript
*.tsbuildinfo

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vscode
.vscode/

# OS
Thumbs.db

# vercel
.vercel

# coverage
coverage/

# jest
jest.config.js

# tailwind
*.css.d.ts

# others
*.log
